
.center{width: 100%;height: 100%;}

.center>.center-nothing{width: 100%;padding: 50px;font: 16px/22px '';color: #666;text-align: center;background: #fff;}
.center>.center-nothing>.center-redirect{display: inline-block;color: #e4366b;}

/*.center>.center-out{width: 100%;display: flex;justify-content: center;}*/
/*.center>.center-out>.center-btn{width: 80%;font: 18px/34px '';color: #fff;background: #e4366b;outline: none;border-radius: 5px;}*/