
.reg{width: 100%;display: flex;flex-direction: column;}

.reg>.reg-step{width: 100%;display: flex;justify-content: center;padding: 5px 15px;background: #fff;}
.reg>.reg-step>span{display: block;font: 14px/28px '';color: #666;}
.reg>.reg-step>span.reg-step-arrow{width: 28px;text-align: center;font-size: 10px;}
.reg>.reg-step>span.reg-step-first{}
.reg>.reg-step>span.reg-step-second{}
.reg>.reg-step>span.reg-step-third{}
.reg>.reg-step>span.active{color: #e4366b;}

.reg>.reg-phone{width: 100%;padding: 10px 15px;margin-top: 10px;background: #fff;}
.reg>.reg-phone>.reg-phone-ipt{display: block;width: 100%;outline: none;background: #f2f2f2;font: 14px/28px '';color: #666;border: none;border-radius: 3px;text-indent: 10px;}

.reg>.reg-check{width: 100%;padding: 10px 15px;background: #fff;margin-top: 10px;display: flex;justify-content: flex-start;}
.reg>.reg-check>.reg-check-ipt{display: block;width: 14px;height: 14px;}
.reg>.reg-check>.reg-check-label{display: flex;justify-content: flex-start;}
.reg>.reg-check>.reg-check-label>span{display: block;font: 14px/20px '';}
.reg>.reg-check>.reg-check-label>span.reg-check-understand{color: #333;margin-left: 5px;}
.reg>.reg-check>.reg-check-label>span.reg-check-agree{color: #e4366b;}

.reg>.reg-btn{width: 100%;margin-top: 10px;padding: 0 15px;}
.reg>.reg-btn>.reg-btn-send{display: block;width: 100%;font: 300 18px/40px '';text-align: center;border-radius: 5px;color: #fff;background: #e4366b;outline: none;}

.reg>.reg-foot{width: 100%;display: flex;justify-content: center;margin: 10px 0;padding: 0 15px;}
.reg>.reg-foot>span{display: block;font: 14px/20px '';color: #222;}
.reg>.reg-foot>span.reg-foot-desc{}
.reg>.reg-foot>span.reg-foot-phone{color: #e4366b;text-decoration: underline;}
