.cinema{width: 100%;height: 100%;padding: 0 25px;display: flex;flex-direction: column;justify-content: center;background: #fff;}
.cinema>li{width: 100%;padding: 5px 0;border-bottom: 1px solid #e6e6e6;box-sizing: border-box;}
.cinema>li.cinema-box{width: 100%;height: 105px;}

.cinema>li>a{width: 100%;height: 100%;}
.cinema>li>a>.cinema-desc{font: 14px/24px '';color: #666;text-align: left;width: 100%;margin: 5px 0;}

.cinema>li>a>.cinema-desc>.cinema-info{width: 100%;display: flex;justify-content: space-between;margin: 5px 0;}
.cinema>li>a>.cinema-desc>.cinema-info>span{display: block;}
.cinema>li>a>.cinema-desc>.cinema-info>span.cinema-nm{font:18px/26px '';color: #222;width: 250px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.cinema>li>a>.cinema-desc>.cinema-info>span.cinema-sellPrice{margin-left: 20px;color: #e4366b;font:18px/26px '';}

.cinema>li>a>.cinema-desc>.cinema-dis{width: 100%;display: flex;justify-content: space-between;margin: 5px 0;}
.cinema>li>a>.cinema-desc>.cinema-dis>span{display: block;}
.cinema>li>a>.cinema-desc>.cinema-dis>span.cinema-addr{width: 320px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.cinema>li>a>.cinema-desc>.cinema-dis>span.cinema-distance{width: 50px;text-align: right;}

.cinema>li>a>.cinema-desc>.cinema-seat{display: flex;justify-content: flex-start;margin: 5px 0;}
.cinema>li>a>.cinema-desc>.cinema-seat>span{display: block;font: 12px/14px '';color: #399;border: 1px solid #399;padding: 2px 5px; border-radius: 5px;}
.cinema>li>a>.cinema-desc>.cinema-seat>span.cinema-imax{margin-left: 10px;}