.user-nav {
  height: 44px;
  background: #e4366b;
  font-size: 0.30rem;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-nav > li {
  width: 50px;
  height: 100%;
  line-height: 44px;
  text-align: center;
}