
.nav {display: flex;justify-content: space-between;background: #e4366b;width: 100%;position: fixed;bottom: 0;left: 0;padding: 0 5px;}

.nav > li{box-sizing: border-box;}
.nav > li > a {font: 18px/50px '';color: #fff;text-align: center;border: 1px solid #e4366b;padding: 5px 10px;}
.nav > li > a.nav-active {border: 1px solid #fff;border-radius: 10px;}